/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;                    /* viewport completo */
  background-image: url(img/fondopagdeb.jpg);
  background-size: cover;           /* cubre todo sin deformar */
  background-position: center;      /* centra la zona visible */
  background-repeat: no-repeat;     /* sin mosaicos */
  background-attachment: fixed;     /* fija mientras haces scroll */
  padding-top: 60px;                          /*esto hace en respecto a la pantalla*/
}

/* Ocultar inputs */
.check-hamb,
.rad-pag {
  display: none;
}

/* Botón hamburguesa */
.hamb-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 20;
}

.bar {
  height: 4px;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
}

/* Menú lateral */
.menu-box {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom, #E59b48, #4a2b1c99);
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: right 0.3s ease;
  z-index: 10;
}



.menu-box label {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.menu-box label:hover {
  background: #f0f0f0;
}

/* Mostrar menú */
.check-hamb:checked ~ .menu-box {
  right: 0;
}

/* Animación a X */
.check-hamb:checked ~ .hamb-btn .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.check-hamb:checked ~ .hamb-btn .bar:nth-child(2) {
  opacity: 0;
}
.check-hamb:checked ~ .hamb-btn .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Contenidos */
.contenido {
  padding: 20px;
}

.pagina {
  display: none;
}

/* Mostrar solo la página seleccionada */
#perfil:checked ~ .contenido #pag-perfil,
#configuracion:checked ~ .contenido #pag-configuracion,
#acerca:checked ~ .contenido #pag-acerca,
#Html:checked ~ .contenido #pag-Html {
  display: block;
}


/*fin de la hamburguesa*/





.contenpadre{
  display: flex;
  width: 100%;  
}

.colubnas{
  margin: 0px 0px 10px 2px;
  
  border-radius: 8px;
  width: 33%;   /* ← se ajusta al texto */
}
.colubnas > div {
  background: #555;
  color: #fff;
  margin: 0px 2px 2px 2px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;

  white-space: normal;      /* permite saltos */
  overflow-wrap: break-word; /* corta palabras largas */
  word-break: break-word;    /* compatibilidad extra */
  max-width: 100%
}